@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
p
{
	font-family: 'Pacifico', cursive;
	position: absolute;
	bottom: 0;
	right: 20px
}
body
{
	background-image: url('image1.png'),url('img3.png') ,url('bg.jpg');
	background-repeat: no-repeat;
	background-position: 0% 0%,700px 220px;
    background-size: 1200px 700px, 670px 460px, cover;

}
div
{
	width: 380px
}
